.body{
    font-family: 'Times New Roman', Times, serif;
}

.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container{
    max-width: 1180px;
    margin: 0 auto;
}

.content{
    flex: 1 1 auto;
}

.footer{
    background-color: darkseagreen;
}

.footer__row{
    display: flex;
    height: 65px;
    justify-content: center;
    align-items: center;
}

footer__text{
    color: dimgrey;
    font-size: 14px;
    letter-spacing: 0.3 px;
}