.body{
    font-family: 'Times New Roman', Times, serif;
}

.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container{
    max-width: 1180px;
    margin: 0 auto;
}

.content{
    flex: 1 1 auto;
}

.contacts{
    background-color: lightgrey;
    padding: 50px;
}

.contacts__image{
  width: 150px;
  height: 150px;
  background-image: url("./https://resheto.net/images/mater/pozitivnye_kartinki_2.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.contacts__row{
    display: flex;
}

.footer{
    background-color: lightgreen;
}

.footer__row{
    display: flex;
    height: 65px;
    justify-content: center;
    align-items: center;
}

footer__text{
    color: dimgrey;
    font-size: 14px;
    letter-spacing: 0.3 px;
}